.u-marginTop20 {
  margin-top: 20px;
}
.u-marginTop30 {
  margin-top: 30px;
}

.u-marginTop60 {
  margin-top: 60px;
}

.u-marginTop80 {
  margin-top: 80px;
}

.u-marginTop100 {
  margin-top: 100px;
}

.u-margin20 {
  margin: 20px 0;
}
.u-margin30 {
  margin: 30px 0;
}

.u-margin40 {
  margin: 40px 0;
}
.u-marginBottom40 {
  margin-bottom: 40px;
}
.u-marginBottom50 {
  margin-bottom: 50px;
}
