.c-btn {
  display: flex;
  justify-content: center;
}

.c-btn--large {
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
  &:hover {
    background: $fontColor;
    border: 1px solid $topSubColor;
    color: $topSubColor;
  }
}
